In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("results.csv")

In [4]:
df.head()

          actor       movie_or_TV_name
0  Daniel Craig           Knives Out 3
1  Daniel Craig                 Purity
2  Daniel Craig  The Creed of Violence
3  Daniel Craig           Knives Out 2
4  Daniel Craig         No Time to Die

In [5]:
sorted_df = df["movie_or_TV_name"].value_counts().to_frame()

In [6]:
sorted_df[0:10]

                           movie_or_TV_name
Skyfall                                 159
EastEnders                               38
Holby City                               32
Jack Ryan: Shadow Recruit                29
Doctors                                  26
Silent Witness                           25
Spectre                                  24
Casualty                                 23
About Time                               21
New Tricks                               21

# IMDB Webscraper

In this blog post we will create a web scraper for finding shared actors on IMDB.

# ยง1. Preliminaries

We will start this exercise using `Scrapy`, which is an open-source webcrawling framework for Python. Scrapy has many utilities for web scraping which we will gloss over in this blog post and implement in our own spider. Let's start by going over some of the preliminary steps to launch our Scrapy project.

In order to install `Scrapy` onto our system, follow this [link](https://docs.scrapy.org/en/latest/intro/install.html#intro-install). After `Scrapy` is installed in our system, we will

## 1a. Parse