In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("results.csv")

In [4]:
df.head()

          actor       movie_or_TV_name
0  Daniel Craig           Knives Out 3
1  Daniel Craig                 Purity
2  Daniel Craig  The Creed of Violence
3  Daniel Craig           Knives Out 2
4  Daniel Craig         No Time to Die

In [5]:
sorted_df = df["movie_or_TV_name"].value_counts().to_frame()

In [6]:
sorted_df[0:10]

                           movie_or_TV_name
Skyfall                                 159
EastEnders                               38
Holby City                               32
Jack Ryan: Shadow Recruit                29
Doctors                                  26
Silent Witness                           25
Spectre                                  24
Casualty                                 23
About Time                               21
New Tricks                               21